<form [formGroup]="userForm" (submit)="doSubmit()" class="m-5">
  <div class="form-group">
    <label for="email" type="text">Email:</label>
    <input
      type="text"
      placeholder="email"
      formControlName="email"
      class="form-control"
      placeholder="Enter email"
      required
    />
    <div
      *ngIf="userForm.get('email')?.invalid && userForm.get('email')?.touched"
    >
      <div *ngIf="userForm.get('email')?.errors?.['required']">
        <p class="text-danger">This field is required</p>
      </div>
      <div *ngIf="userForm.get('email')?.errors?.['email']" class="text-danger">
        <p class="text-danger">Please enter a valid email address.</p>
      </div>
    </div>
    <label for="name" type="text">Name:</label>
    <input
      type="text"
      placeholder="name"
      formControlName="name"
      class="form-control"
      placeholder="Enter name"
    />
    <div *ngIf="userForm.get('name')?.invalid && userForm.get('name')?.touched">
      <div *ngIf="userForm.get('name')?.errors?.['required']">
        <p class="text-danger">This field is required</p>
      </div>
      <div
        *ngIf="userForm.get('name')?.hasError('maxlength')"
        class="text-danger"
      >
        <p class="text-danger">Your name should be less than 128 characters</p>
      </div>
    </div>
    <label for="birthday" type="date">Birthday:</label>
    <input
      type="date"
      placeholder="birthday"
      formControlName="birthday"
      class="form-control"
      placeholder="Enter birthday"
    />
    <div
      *ngIf="
        userForm.get('birthday')?.invalid && userForm.get('birthday')?.touched
      "
    >
      <div
        *ngIf="userForm.get('birthday')?.errors?.['required'] && !userForm.get('birtdhay')?.dirty"
      >
        <p class="text-danger">This field is required</p>
      </div>
      <div
        *ngIf="userForm.get('birthday')?.hasError('dateError')"
        class="text-danger"
      >
        <p class="text-danger">Date must be before today</p>
      </div>
    </div>

    <div formGroupName="address">
      <label for="zip" type="text">Zip:</label>
      <input
        type="number"
        placeholder="zip"
        formControlName="zip"
        class="form-control"
        placeholder="Enter zip code"
      />
      <div
        *ngIf="
          userForm.get('address.zip')?.invalid &&
          userForm.get('address.zip')?.touched
        "
      >
        <div *ngIf="userForm.get('address.zip')?.errors?.['required']">
          <p class="text-danger">This field is required</p>
        </div>
      </div>

      <label for="city" type="text">City:</label>
      <input
        type="text"
        placeholder="city"
        formControlName="city"
        class="form-control"
        placeholder="Enter city"
      />
      <div
        *ngIf="
          userForm.get('address.city')?.invalid &&
          userForm.get('address.city')?.touched
        "
      >
        <div *ngIf="userForm.get('address.city')?.errors?.['required']">
          <p class="text-danger">This field is required</p>
        </div>
        <div
          *ngIf="userForm.get('address.city')?.hasError('pattern')"
          class="text-danger"
        >
          <p class="text-danger">
            Text can only contain alphanumeric characters and spaces
          </p>
        </div>
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary mt-3">Submit</button>
</form>
